.container {
    margin: 15px;
    text-align: center;
}
/* .row0{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}
.row3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
} */
.column{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 1px dashed gray;
}